/*== ShyFox Sidebery ===============================================================================================================================

Styles for Sidebery extension


--- VARIABLES ---------------------------------------------------------------------------------------------------------------------------------------

*/

@-moz-document regexp("^moz-extension://.*?/sidebar/sidebar.html")
{

  /*
   * ─[ other ]────────────────────────────────────────────────────────────
  */

  /* consistent navbar background */
  #nav_bar {
    background-color: #0e0e0e !important;
  }

  /* padding */
  #nav_bar {
    padding-top: var(--nav-btn-margin) !important;
    padding-bottom: var(--general-margin) !important;
  }

  .BottomBar {
    padding: var(--nav-btn-margin) !important;
  }

  /* popup */
  .popup {
    margin: var(--tabs-margin) !important;
  }
  .popup-container {
    background-color: transparent !important;
  }

  /* search */
  #search_bar {
    margin: 4px !important;
  }
  #search_bar[data-showed="false"] {
    display: none !important;
  }
  #search_bar .clear-btn {
    margin-inline-end: var(--general-margin);
  }

  .NavigationBar {
    box-shadow: none !important;
  }

  /* accent colored selection */
  ::selection {
    background: color-mix(
      in hsl,
      var(--s-toolbar-fg) 20%,
      transparent
    ) !important;
  }

  /* notification */
  .notification {
    border-radius: var(--rounding) !important;
    &::after {
      top: calc(var(--rounding) / 4 + 3px) !important;
      right: calc(var(--rounding) / 4 + 3px) !important;
    }
  }
} /* wrap end */
