* {
    font-size: 12px;
}

window#waybar {
    background: #14181C;
    box-shadow: inset 0px -1px cyan;
    border-radius: 0;
    transition-property: all;
    transition-duration: .3s;
}
.modules-left {
    margin-bottom: 5px;
}
.modules-center {
    margin-bottom: 5px;
}
.modules-right {
    margin-bottom: 5px;
}

tooltip {
    background: rgba(14, 14, 14, 0.7);
    border-radius: 10px;
    border: 1px solid #00ffff;
}

tooltip label {
    padding: 0;
    color: #fff;
}

button {
    border-radius: 15px;
}

button:hover {
    background: rgba(255, 255, 255, 0.1);
}

/*
    * LEFT
*/

#custom-updates {
    font-family: "JetBrainsMono Nerd Font";
    font-size: large;
    transition: all .3s ease-in-out;
    padding: 0px 14px 0px 8px;
    background-color: transparent;
    border-radius: 0px 5px 5px 0px;
    color: #00ffff;
}

#custom-updates:hover {
    background: #404b5b;
}

#workspaces {
    font-family: "OpenSans";
    padding: 0px 13px 0px 7px;
    background-color: transparent;
}

#workspaces button {
    color: #777;
    padding: 0px 5px 0px 5px;
    font-weight: bolder;
    transition: all .3s cubic-bezier(.55,-0.68,.48,1.682);
}
#workspaces button.active {
    border: #00ffff solid;
    border-width: 0px 1px 0px 1px;
    color: #fff;
    min-width: 35px;
}

#workspaces button:hover {
    min-width: 35px;
    color: #fff;
}

/*
    * CENTER
*/

#custom-open {
    border: solid #00ffff;
    border-width: 1px 0px 1px 1px;
    border-radius: 15px 0px 0px 15px;
    padding: 0px 16px 0px 3px;
    background: #0e0e0e;
}

#custom-weather {
    font-family: "JetBrainsMono Nerd Font";
    border: solid #00ffff;
    border-width: 1px 0px 1px 0px;
    padding-right: 16px;
    color: #ffffff;
    background: #0e0e0e;
}

#custom-separator-middle {
    border: solid #00ffff;
    border-width: 1px 0px 1px 0px;
    color: #0ff;
    background: transparent;
}

#window {
    border: solid #00ffff;
    border-width: 1px 0px 1px 0px;
    padding: 0px 16px;
    color: #ffffff;
    background: #0e0e0e;
}

#clock {
    border: solid #00ffff;
    border-width: 1px 0px 1px 0px;
    padding-left: 16px;
    color: #ffffff;
    background: #0e0e0e;
}

#custom-close {
    border: solid #00ffff;
    border-width: 1px 1px 1px 0px;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 3px 0px 16px;
    background: #0e0e0e;
}

/*
    * RIGHT
*/

#network {
    font-family: "JetBrainsMono Nerd Font";
    background: transparent;
    color: #ffffff;
    margin-right: 5px;
    border-radius: 15px 5px 5px 15px;
}

#custom-separator {
    color: #0ff;
    background: transparent;
}

#tray {
    background: transparent;
    padding: 0px 7px 0px 7px;
}

#pulseaudio {
    font-family: "JetBrainsMono Nerd Font";
    margin-right: 5px;
    background: transparent;
    color: #ffffff;
    padding: 0px 7px 0px 7px;
}

#battery {
    font-family: "JetBrainsMono Nerd Font";
    /* background: #009900; */
    background: linear-gradient(90deg, #1addb0 0%, #00ffb1 80%);
    padding-left: 7px;
    padding-right: 7px;
    color: #0e0e0e;
    border-radius: 5px 0px 0px 5px;
}

#battery.discharging.warning {
    background: #999900;
}

#battery.discharging.critical {
    background: #990000;
    color: #ffffff;
}

@keyframes blink {
  to {
    color: #b3b7bd;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}