:root {   
    & tabbox#tabbrowser-tabbox,
    & #tabbrowser-tabpanels {
        background-color: transparent !important;
    }

    &:not([inDOMFullscreen="true"], [sizemode="fullscreen"], [sizemode="maximized"], [chromehidden*="toolbar"], [chromehidden*="menubar"]) tabbox#tabbrowser-tabbox browser {
        border-radius: 15px;
        clip-path: circle(100%);
        background-color: transparent !important;
    }
}

#main-window > body {
  border-radius: 15px !important
}

browser { 
  border-radius: 15px !important; 
} 

#tabbrowser-tabbox {
  margin: 8px !important;
  padding: 0px !important;
  border: var(--border-width) solid var(--border);
  border-radius: var(--rounding);
  transition: border-color var(--border-transition);
  &:hover {
    color: var(--accent);
    border-color: var(--accent) !important;
  }
}


:root[inFullscreen="true"] {
  #tabbrowser-tabbox {
    margin: 0 !important;
    border: none;
    padding: 0 !important;
    transition: none;
    &::before {
      display: none;
    }
  }
}
