:root {   
    & tabbox#tabbrowser-tabbox,
    & #tabbrowser-tabpanels {
        background-color: transparent !important;
    }

    &:not([inDOMFullscreen="true"], [sizemode="fullscreen"], [sizemode="maximized"], [chromehidden*="toolbar"], [chromehidden*="menubar"]) tabbox#tabbrowser-tabbox browser {
        border-radius: 15px;
        clip-path: circle(100%);
        background-color: transparent !important;
    }
}

#main-window > body {
  border-radius: 15px !important
}

browser { 
  border-radius: 15px !important; 
} 

#tabbrowser-tabbox {
  margin: 8px !important;
  padding: 0px !important;
  border: 2px solid #000;
  border-radius: 17px;
  transition: all 0.3s ease-in-out;
  &:hover {
    border-color: #0ff;
  }
}


:root[inFullscreen="true"] {
  #tabbrowser-tabbox {
    margin: 0 !important;
    border: none;
    padding: 0 !important;
    transition: none;
    &::before {
      display: none;
    }
  }
}
