#tabbrowser-tabbox {
  margin: 8px !important;
  padding: 8px !important;
  border: var(--border-width) solid var(--border);
  border-radius: var(--rounding);
  transition: border-color var(--border-transition);
  &:hover {
    color: var(--accent);
    border-color: var(--accent) !important;
  }
}

#contentAreaContextMenu {
  border-radius: 15px !important;
}

#browserStack {
  border-radius: 15px !important;
}
#browserContent {
  border-radius: 15px !important;
}

/* #tabbrowser-tabpanels {
  border-radius: 15px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
} */


:root[inFullscreen="true"] {
  #tabbrowser-tabbox {
    margin: 0 !important;
    border: none;
    padding: 0 !important;
    transition: none;
    &::before {
      display: none;
    }
  }
}
