/* fix urlbar being too high in ff 128 */
* {
  --urlbar-toolbar-height: 32px !important;
  --urlbar-container-height: 32px !important;
}

/* hide stuff */
#back-button,
#forward-button,
#userContext-icons,
#translations-button-icon,
#tracking-protection-icon-container,
#star-button-box,
.urlbar-page-action {
  display: none;
}

/* 
   hide elements of the identity box when:
   the page is secure (using https) and the domain is verified
   or when mixed content is blocked
*/
#identity-box[pageproxystate="valid"] {
  &.verifiedDomain {
    #identity-icon-box,
    #identity-permission-box:not([hasSharingIcon]),
    #permissions-granted-icon {
      display: none !important;
    }
    #permissions-granted-icon + box:has(image[sharing="true"]) {
      margin-left: -4px;
    }
  }
  &.mixedActiveBlocked {
    #permissions-granted-icon,
    #identity-permission-box:not([hasSharingIcon]) {
      display: none !important;
    }
    #permissions-granted-icon + box:has(image[sharing="true"]) {
      margin-left: -4px;
    }
  }
}

#navigator-toolbox {
  border-bottom: var(--border-width) !important;
}

#nav-bar {
  margin: 0px;
  padding: 4px !important;
}
.browser-toolbar {
  &:not(.titlebar-color) {
    background-color: #0e0e0e !important;
  }
}
