#sidebar-box {
  /* padding: 10px; */
  background: #0e0e0e;
  margin: 8px;
  border: var(--border-width) solid var(--border);
  border-radius: var(--rounding);
  transition: border-color var(--border-transition);
  &:hover {
    border-color: var(--accent) !important;
  }
  &:hover::before {
    color: var(--accent);
  }
}

#sidebar-header {
  display: none;
}

#sidebar-splitter {
  display: none;
}

#sidebar {
  border-radius: 15px;
}
