
#sidebar-header {
  display: none;
}

#sidebar-splitter {
  display: none;
}

#sidebar {
  background-color: transparent;
  min-width: 34px !important;
  border-radius: 0px;
}
#sidebar-box{
  --uc-sidebar-width: 15.3em;
  --browser-area-z-index-sidebar: 3;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index: var(--browser-area-z-index-sidebar,3);
  background: transparent;
  margin: 8px 0px 8px 0px;
  border-radius: 15px;
}